.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  min-width: 6.5cm;
  max-width: 6.5cm;

  min-height: 8.9cm;
  max-height: 8.9cm;

  margin-bottom: 11px;

  display: flex;
  flex-direction: column;

  font-family: Calibri, sans-serif;

  border-radius: 10px;
}

.first-theme {
  background: rgba(245, 129, 33, 0.47);

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  flex-direction: column;
  flex: 1;
}

.second-theme {
  background: rgba(42, 120, 245, 0.47);

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  flex-direction: column;
  flex: 1;

  transform: rotate(180deg);
}

.card-header {
  display: flex;
  flex: 1;

  text-align: center;

  //border: 1px solid black;
}

.card-body {
  display: flex;
  flex: 5;

  text-align: center;

  //border: 1px solid black;
}

.dice {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.questions {
  display: flex;
  flex-direction: column;
  flex: 6;
}

.first-drop, .second-drop, .third-drop, .fourth-drop, .fifth-drop {
  padding-right: 5px;

  display: flex;
  flex: 1;

  text-align: center;

  //border: 1px solid black;
  p {
    font-size: 0.75em;
  }
}

p {
  margin: auto;
}